{% extends 'parent.html' %}
{% block content %}
{% if user.role > 1 %}
<h1>Админка блога</h1>
<table border="1px dotted black">
    <tr>
        <th>Заголовок</th>
        <th>Содержимое</th>
    </tr>
    {% for article in articles %}
    <tr>
        <td><b>{{article.title}}</b></td>
        <td>{{article.content}}</td>
        <td>
            <a href="/Admin/Edit/{{article.id}}">Изменить</a>
        </td>
        <td>
            <a onclick="return confirm('Вы точно хотите удалить статью ?')" href="/Admin/Delete/{{article.id}}">Удалить</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}

<h3><a href="/">Назад</a></h3>
{% endblock %}

