{% extends 'parent.html' %}
{% block content %}

<div class="container login">
    <div>
        <h3></h3>
        <form name="log" id="loginform" action="/Core/login.php" method="POST">
            <p>
                <label for="login">Логин<br/>
                    <input type="text" name="login" id="login" class="input" value="" size="20"/></label>
            </p>
            <p>
                <label for="password">Пароль<br/>
                    <input type="password" name="password" id="password" class="input" value="" size="20"/></label>
            </p>
            <p class="submit">
                <input type="submit" name="send" class="button" value="Войти"/>
            </p>
            <p>Нет аккаунта? <a style="text-decoration: underline;" href="../Core/register.php">Регистрация</a></p>
        </form>

    </div>
</div>
{% endblock %}